@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600,700|Montserrat:400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    outline: none;
}
.container {
    padding: 0 20px;
    max-width: 1120px;
    margin: 0 auto;
}
header {
    text-align: center;
}
header h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    margin: 30px 0;
}
header h1 span {
    font-weight: 600;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
nav a {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: rgba(0,0,0,.7);
}
nav a:before {
    content: "{";
    opacity: 0;
    color: rgba(0,0,0,.2);
    padding-right: 7px;
    transition: opacity .2s linear;
}
nav a:after {
    content: "}";
    opacity: 0;
    color: rgba(0,0,0,.2);
    padding-left: 7px;
    transition: opacity .2s linear;
}
nav a:hover:before,
nav a:hover:after,
nav a.current:before,
nav a.current:after{
    opacity: 1;
}

.post-wrap {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}
.post-item {
      padding: 10px;	
}
.post-item-wrap {
      background: #F7F7F2;
      position: relative;	 
}
.post-item-wrap:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;    
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgb(53,167,110);
      transform: rotate(1deg);
      transform-origin: left bottom;
      transition: .3s ease-in-out;	
}
.post-item-wrap:hover:after {
      top: 5px;
      left: 5px;
      transform: rotate(2deg);
}  
.post-link {
      text-decoration: none;
      display: block;
      padding: 30px;
      color: #A69888; 
}
.post-link ul{
    list-style-type: none;
}
.post-link ul li{
    margin-top: 7px;
}
.post-title {
      color: #33261D;
      margin-bottom: 15px;
      transition: .3s ease-in-out;
}
.post-item-wrap:hover .post-title {
      color: rgb(53,167,110);
}
.post-content {
      color: #A69888;
      font-size: 14px;
}
@media (min-width: 768px) {
    .post-item {
          flex-basis: 50%;
          flex-shrink: 0;				
    }
}
@media (min-width: 960px) {
    .post-item {
          flex-basis: 50%;			
    }
}

/* КЛАССЫ ДЛЯ ИНПУТА */

.content.new{
    background-color: #F7F7F2;
    color: #A69888;
    padding: 30px;
    margin-bottom: 30px;
}
.content.new a {
    color: #A69888;
    display: block;
}
.content.new h2{
    text-align: center;
    margin: 10px 0;
    color: rgb(53,167,110);
}
.content.new h3{
    margin: 20px 0;
}
.content.new input[type="number"]{
    width: 20%;
    height: 40px;
    color: #A69888;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    margin: 0 20px;
    border: none;
    display: inline-block;
    background-color: #eee;
    outline: none;
}
.content.new input[type="number"]:out-of-range{
    border: 1px solid red;
}
.content.new input[type="number"]:focus{
    border-bottom: 3px solid #A69888;
    transition: border-bottom .1s ease-in-out;
}
.content.new input[type="checkbox"]{
    display: none;
}
.content.new label{
    font-size: 20px;
    color: #A69888;
    vertical-align: middle;
}
.content.new label:hover{
    cursor: pointer;
}
.content.new label:before {
    content: " ";
    color: #A69888;
    font-weight: bold;
    display: inline-block;
    font: 20px/30px Arial;
    margin-left: 20px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}
.content.new input[type="checkbox"]:checked + label:before {
    content: "x";
}
.btnWrap{
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
}
.content.new button{
    margin: 30px 20px;
    font-size: 20px;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    outline: none;
}
.content.new button:hover{
    background: rgb(53, 167, 110);
}
.content.new button:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.content.new button:disabled{
    background-color: #eee;
    box-shadow: none;
}

div.content.print div span{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
div.content.print .btnWrap{
    padding: 0;
}
div.content.print input[type="button"]{
    margin: 30px 20px;
    font-size: 20px;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    outline: none;
    display: flex;
    justify-content: center;
}
div.content.print input[type="button"]:hover{
    background: rgb(53, 167, 110);
}
div.content.print input[type="button"]:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

@media print{
    header, div.content.print a, div.content.print input[type="button"]{
        display: none;
    }
    div.content.print{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        background-color: white;
        font-size: 14px;
    }
    div.content.print h3{
        text-align: left;
    }
    div.content.print span{
        font-style: italic;
    }
    div.content.print .variantsWrap div{
        page-break-inside: avoid;
        width: 50%;
    }
    div.content.print .variantsWrap + div{
        clear: both;
        page-break-after: always;
    }
    div.content.print .answersWrap div{
        page-break-inside: avoid;
        width: 50%;
    }
    div.content.print .answersWrap div p{
        font-style: italic;
    }
    div.content.print .answersWrap div:nth-child(even){
        float: left;
    }
    div.content.print .answersWrap div:nth-child(odd){
        float: right;
    }
    div.content.print .variantsWrap div:nth-child(odd){
        float: left;
    }
    div.content.print .variantsWrap div:nth-child(even){
        float: right;
    }
}